In [4]:
# parse를 이용한 인코딩

from bs4 import BeautifulSoup
from urllib import parse
import urllib.request as req
import time

In [5]:
url = "https://movie.daum.net/ranking/boxoffice/weekly"
res = req.urlopen(url)
# BeautifulSoup으로 분석하기
soup = BeautifulSoup(res, "html.parser")

In [ ]:
제목 #mainContent > div > div.box_boxoffice > ol > li:nth-child(1) > div > div.thumb_cont > strong > a
이미지 #mainContent > div > div.box_boxoffice > ol > li:nth-child(1) > div > div.thumb_item > div.poster_movie > img
랭킹 #mainContent > div > div.box_boxoffice > ol > li:nth-child(1) > div > div.thumb_item > div.poster_movie > span.rank_num
개봉일 #mainContent > div > div.box_boxoffice > ol > li:nth-child(1) > div > div.thumb_cont > span > span:nth-child(1)
연령등급 #mainContent > div > div.box_boxoffice > ol > li:nth-child(1) > div > div.thumb_item > div.poster_movie > span.txt_tag

In [21]:
movies = soup.select(".thumb_cont a")
movie=[]

for mo in movies:
    movie.append(mo.text)

print(movie)

['아바타: 물의 길', '더 퍼스트 슬램덩크', '영웅', '장화신은 고양이: 끝내주는 모험', '스위치', '오늘 밤, 세계에서 이 사랑이 사라진다 해도', '올빼미', '신비아파트 극장판 차원도깨비와 7개의 세계', '프린스 챠밍', '유령', '3000년의 기다림', '문맨', '젠틀맨', '시간을 꿈꾸는 소녀', '웃는남자 감독판']

---
# Test

In [27]:
soup.select('.tit_item')[0].string

'아바타: 물의 길'

In [28]:
soup.select('.link_txt')[0].string

'아바타: 물의 길'

---
### 적용

In [29]:
li_lists = soup.select('.link_txt')
print(li_list)

[<a class="link_txt" href="/moviedb/main?movieId=62708">아바타: 물의 길</a>, <a class="link_txt" href="/moviedb/main?movieId=164918">더 퍼스트 슬램덩크</a>, <a class="link_txt" href="/moviedb/main?movieId=115401">영웅</a>, <a class="link_txt" href="/moviedb/main?movieId=158407">장화신은 고양이: 끝내주는 모험</a>, <a class="link_txt" href="/moviedb/main?movieId=147599">스위치</a>, <a class="link_txt" href="/moviedb/main?movieId=162710">오늘 밤, 세계에서 이 사랑이 사라진다 해도</a>, <a class="link_txt" href="/moviedb/main?movieId=149380">올빼미</a>, <a class="link_txt" href="/moviedb/main?movieId=165377">신비아파트 극장판 차원도깨비와 7개의 세계</a>, <a class="link_txt" href="/moviedb/main?movieId=133319">프린스 챠밍</a>, <a class="link_txt" href="/moviedb/main?movieId=147261">유령</a>, <a class="link_txt" href="/moviedb/main?movieId=141775">3000년의 기다림</a>, <a class="link_txt" href="/moviedb/main?movieId=163283">문맨</a>, <a class="link_txt" href="/moviedb/main?movieId=152196">젠틀맨</a>, <a class="link_txt" href="/moviedb/main?movieId=159254">시간을 꿈꾸는 소녀</a>, <a class="link_txt" href="/moviedb/main?movieId=126989">웃는남자 감독판</a>, <a class="link_txt" data-tiara-layer="home" href="/main">홈</a>, <a class="link_txt" data-tiara-layer="ranking" href="/ranking/reservation">랭킹</a>, <a class="link_txt" data-tiara-layer="premovie" href="/premovie/theater">상영예정작</a>, <a class="link_txt" data-tiara-layer="contents" href="/contents/news">콘텐츠</a>]

<a class="link_txt" data-tiara-layer="home" href="/main">홈</a>, <a class="link_txt" data-tiara-layer="ranking" href="/ranking/reservation">랭킹</a>, <a class="link_txt" data-tiara-layer="premovie" href="/premovie/theater">상영예정작</a>, <a class="link_txt" data-tiara-layer="contents" href="/contents/news">콘텐츠</a>]

필요없는것도 나오네 ? 영화링크는 15개

In [30]:
li_lists = soup.select('.link_txt')[0:15]
print(li_list)

[<a class="link_txt" href="/moviedb/main?movieId=62708">아바타: 물의 길</a>, <a class="link_txt" href="/moviedb/main?movieId=164918">더 퍼스트 슬램덩크</a>, <a class="link_txt" href="/moviedb/main?movieId=115401">영웅</a>, <a class="link_txt" href="/moviedb/main?movieId=158407">장화신은 고양이: 끝내주는 모험</a>, <a class="link_txt" href="/moviedb/main?movieId=147599">스위치</a>, <a class="link_txt" href="/moviedb/main?movieId=162710">오늘 밤, 세계에서 이 사랑이 사라진다 해도</a>, <a class="link_txt" href="/moviedb/main?movieId=149380">올빼미</a>, <a class="link_txt" href="/moviedb/main?movieId=165377">신비아파트 극장판 차원도깨비와 7개의 세계</a>, <a class="link_txt" href="/moviedb/main?movieId=133319">프린스 챠밍</a>, <a class="link_txt" href="/moviedb/main?movieId=147261">유령</a>, <a class="link_txt" href="/moviedb/main?movieId=141775">3000년의 기다림</a>, <a class="link_txt" href="/moviedb/main?movieId=163283">문맨</a>, <a class="link_txt" href="/moviedb/main?movieId=152196">젠틀맨</a>, <a class="link_txt" href="/moviedb/main?movieId=159254">시간을 꿈꾸는 소녀</a>, <a class="link_txt" href="/moviedb/main?movieId=126989">웃는남자 감독판</a>]

In [39]:
li_lists = soup.select('.link_txt')[0:15]
count = 0
titleLists = []
countLists = []
for li in li_lists:
    count += 1
    print(count, li.string)
    countLists.append(count)
    titleLists.append(li.string.strip())

1 아바타: 물의 길
2 더 퍼스트 슬램덩크
3 영웅
4 장화신은 고양이: 끝내주는 모험
5 스위치
6 오늘 밤, 세계에서 이 사랑이 사라진다 해도
7 올빼미
8 신비아파트 극장판 차원도깨비와 7개의 세계
9 프린스 챠밍
10 유령
11 3000년의 기다림
12 문맨
13 젠틀맨
14 시간을 꿈꾸는 소녀
15 웃는남자 감독판

In [40]:
titleLists

['아바타: 물의 길',
 '더 퍼스트 슬램덩크',
 '영웅',
 '장화신은 고양이: 끝내주는 모험',
 '스위치',
 '오늘 밤, 세계에서 이 사랑이 사라진다 해도',
 '올빼미',
 '신비아파트 극장판 차원도깨비와 7개의 세계',
 '프린스 챠밍',
 '유령',
 '3000년의 기다림',
 '문맨',
 '젠틀맨',
 '시간을 꿈꾸는 소녀',
 '웃는남자 감독판']

In [41]:
import pandas as pd

In [44]:
# countLists 만으로 DataFrame 생성
df = pd.DataFrame(data=countLists, columns=['Index']) #< columns는 [] 로 작성해야댐 
df

    Index
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
12     13
13     14
14     15

In [45]:
# df Dataframe에 Column 추가
df['Titles'] = pd.Series(titleLists)

In [46]:
df

    Index                    Titles
0       1                 아바타: 물의 길
1       2                더 퍼스트 슬램덩크
2       3                        영웅
3       4         장화신은 고양이: 끝내주는 모험
4       5                       스위치
5       6  오늘 밤, 세계에서 이 사랑이 사라진다 해도
6       7                       올빼미
7       8   신비아파트 극장판 차원도깨비와 7개의 세계
8       9                    프린스 챠밍
9      10                        유령
10     11                3000년의 기다림
11     12                        문맨
12     13                       젠틀맨
13     14                시간을 꿈꾸는 소녀
14     15                  웃는남자 감독판

In [47]:
# 한번에 넣어볼까?
df2 = pd.DataFrame(data=[countLists,titleLists])
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
1,아바타: 물의 길,더 퍼스트 슬램덩크,영웅,장화신은 고양이: 끝내주는 모험,스위치,"오늘 밤, 세계에서 이 사랑이 사라진다 해도",올빼미,신비아파트 극장판 차원도깨비와 7개의 세계,프린스 챠밍,유령,3000년의 기다림,문맨,젠틀맨,시간을 꿈꾸는 소녀,웃는남자 감독판

In [48]:
# ????
df2 = pd.DataFrame(data=[[countLists],[titleLists]])
df2

                                                   0
0  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
1  [아바타: 물의 길, 더 퍼스트 슬램덩크, 영웅, 장화신은 고양이: 끝내주는 모험,...

In [49]:
# zip을 사용해서 해보자?
df2 = pd.DataFrame(data=zip(countLists,titleLists))
df2
#이렇게군 그럼 컬럼을 넣자

     0                         1
0    1                 아바타: 물의 길
1    2                더 퍼스트 슬램덩크
2    3                        영웅
3    4         장화신은 고양이: 끝내주는 모험
4    5                       스위치
5    6  오늘 밤, 세계에서 이 사랑이 사라진다 해도
6    7                       올빼미
7    8   신비아파트 극장판 차원도깨비와 7개의 세계
8    9                    프린스 챠밍
9   10                        유령
10  11                3000년의 기다림
11  12                        문맨
12  13                       젠틀맨
13  14                시간을 꿈꾸는 소녀
14  15                  웃는남자 감독판

In [50]:
#zip 사용해서 컬럼까지 넣기 ?
df2 = pd.DataFrame(data=zip(countLists,titleLists), columns=['Index','Title'])
df2
# 만약 zip을 안쓰려고 한다면 dictionary 로 해도 되는데
# 한번에 넣기 어려우면 걍 위에 추가하는 식으로 하는게 더 쉽긴 할듯 확실히

    Index                     Title
0       1                 아바타: 물의 길
1       2                더 퍼스트 슬램덩크
2       3                        영웅
3       4         장화신은 고양이: 끝내주는 모험
4       5                       스위치
5       6  오늘 밤, 세계에서 이 사랑이 사라진다 해도
6       7                       올빼미
7       8   신비아파트 극장판 차원도깨비와 7개의 세계
8       9                    프린스 챠밍
9      10                        유령
10     11                3000년의 기다림
11     12                        문맨
12     13                       젠틀맨
13     14                시간을 꿈꾸는 소녀
14     15                  웃는남자 감독판

---
### CSV로 저장하기

In [51]:
df.to_csv('../Data/DaumMoivesRankingList.csv', encoding='utf-8', index=False)