### DataBase
- 데이터 크기가 작으면 json 이나 csv 로 충분

#### SQLite
: 가볍게 파일 하나로 사용할 수 있는 Database

In [1]:
import sqlite3

In [6]:
# connect sqlite DB

dbPath = "../Data/test.sqlite"
conn = sqlite3.connect(dbPath)

# Input Data After Create table
curs = conn.cursor()
curs.executescript( # executescript 는 한번에 여러줄 실행할때만 사용 
    """
    /* items table이 이미 있다면 제거하기 */
    DROP TABLE IF EXISTS items;

    /* Create Table */
    CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
    );

    /* input data */
    INSERT INTO items(name,price) VALUES ('Apple', 800);
    INSERT INTO items(name,price) VALUES ('Banana', 430);
    INSERT INTO items(name,price) VALUES ('Orange', 780);
    """
)

# 위에 작업을 DB에 반영하기
conn.commit() #commit 해야 들어가짐

In [8]:
# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT * FROM items")
items_list = curs.fetchall()
print(items_list)

[(1, 'Apple', 800), (2, 'Banana', 430), (3, 'Orange', 780)]

In [10]:
for it in items_list:
    print(it[0],it[1],it[2])

1 Apple 800
2 Banana 430
3 Orange 780

In [12]:
filePath = "../Data/test2.sqlite"

conn = sqlite3.connect(filePath)

# Create Table
curs = conn.cursor()
curs.execute("DROP TABLE IF EXISTS items;")
curs.execute(
    """
     CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
    );
    """
)

conn.commit()

In [14]:
# INPUT DATA
curs = conn.cursor()
curs.execute("INSERT INTO items (name, price) VALUES (?,?);",("Ornage",5200))
conn.commit()

In [15]:
# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT * FROM items")
items_list = curs.fetchall()
print(items_list)

[(1, 'Ornage', 5200)]

In [22]:
# 여러 데이터를 연속으로 넣기


data = []
mango = ("Mango",7700)
kiwi = ("Kiwi",4000)
peach = ("Peach",9400)
persimmon = ("Persimmon",7000)
banana = ("Banana",4000)
data=[mango,kiwi,peach,persimmon,banana]

In [23]:
data
data = [("Mango",7700),("Kiwi",4000),("Peach",9400),("Persimmon",7000),("Banana",4000)]

[('Mango', 7700),
 ('Kiwi', 4000),
 ('Peach', 9400),
 ('Persimmon', 7000),
 ('Banana', 4000)]

In [27]:
curs = conn.cursor()
curs.executemany("INSERT INTO items (name, price) VALUES (?,?)", data)
conn.commit()

In [28]:
# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT * FROM items")
items_list = curs.fetchall()
print(items_list)

[(1, 'Ornage', 5200), (2, 'Mango', 7700), (3, 'Kiwi', 4000), (4, 'Peach', 9400), (5, 'Persimmon', 7000), (6, 'Banana', 4000)]

In [38]:
# 4000 ~ 7000 사이의 데이터 추출하기 
curs = conn.cursor()
curs.execute("select * from items where price >= ? and price <= ?;",(4000,7000))
items_list = curs.fetchall()
print(items_list)

[(1, 'Ornage', 5200), (3, 'Kiwi', 4000), (5, 'Persimmon', 7000), (6, 'Banana', 4000)]

---
### MySQL
: 다 했으면 conn.close() 하기!

In [39]:
#!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 2.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [40]:
import pymysql

In [76]:
# Connection
conn = pymysql.connect(host="127.0.0.1",
                        user = "root",
                        password = "qwer1234",
                        db = "education",
                        charset = "utf8"
                        )

In [77]:
# Cursor
curs = conn.cursor()

In [52]:
sql = "select * from student"
curs.execute(sql)

6

In [53]:
rows = curs.fetchall()
print(rows)
# None = null

(('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S003', '이승호', '국문학과', '345-6789', None), ('S004', '정수봉', '국문학과', '456-7890', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None))

In [54]:
# list로 변환
rowList = list(rows)
rowList

[('S001', '박소명', '컴퓨터공학과', '123-4567', None),
 ('S002', '최민국', '컴퓨터공학과', '234-5678', None),
 ('S003', '이승호', '국문학과', '345-6789', None),
 ('S004', '정수봉', '국문학과', '456-7890', None),
 ('S005', '김상진', '사학과', '567-8901', None),
 ('S006', '황정숙', '사학과', '678-9012', None)]

In [60]:
print(rowList[0])
print(rowList[0][0])
print(rowList[1][1])
print(rowList[0][2])
print(rowList[2][3])

('S001', '박소명', '컴퓨터공학과', '123-4567', None)
S001
최민국
컴퓨터공학과
345-6789

In [69]:
# Insert

sql = "insert into student (scode, sname, sdept, sphone, saddress) values (%s,%s,%s,%s,%s)"
curs.execute(sql,('b001','LeeHosik','Bigdata','01087567438','seoul'))
curs.execute(sql,('b002','LeeHosik','Big|data','01087567438','seoul'))
curs.execute(sql,('b003','LeeHosik','Bigdata','01087567438','seoul'))

In [71]:
sql = "select * from student"
curs.execute(sql)
rows = curs.fetchall()
print(rows)
# None = null

(('b001', 'LeeHosik', 'Bigdata', '01087567438', 'seoul'), ('b002', 'LeeHosik', 'Big|data', '01087567438', 'seoul'), ('b003', 'LeeHosik', 'Bigdata', '01087567438', 'seoul'), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S003', '이승호', '국문학과', '345-6789', None), ('S004', '정수봉', '국문학과', '456-7890', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None))

In [73]:
# insert 여러줄
data = (
    ('c001','JOJO','abcd','0111111111','kyunggi'),
    ('c002','SONGYUN','defg','0222222','gwangju'),
    ('c003','YUPO','hijkl','2222222','ganwon'),
)

In [78]:
sql = "insert into student (scode, sname, sdept, sphone, saddress) values (%s,%s,%s,%s,%s)"

In [79]:
curs.executemany(sql, data)
conn.commit()

In [81]:
sql = "select * from student"
curs.execute(sql)
rows = curs.fetchall()
rowList = list(rows)
# None = null
rowList

[('c001', 'JOJO', 'abcd', '0111111111', 'kyunggi'),
 ('c002', 'SONGYUN', 'defg', '0222222', 'gwangju'),
 ('c003', 'YUPO', 'hijkl', '2222222', 'ganwon'),
 ('S001', '박소명', '컴퓨터공학과', '123-4567', None),
 ('S002', '최민국', '컴퓨터공학과', '234-5678', None),
 ('S003', '이승호', '국문학과', '345-6789', None),
 ('S004', '정수봉', '국문학과', '456-7890', None),
 ('S005', '김상진', '사학과', '567-8901', None),
 ('S006', '황정숙', '사학과', '678-9012', None)]

In [82]:
conn.close()

---
### SELECT 내용을 DataFrame으로 보기

In [83]:
#!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.46.tar.gz (8.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.5/8.5 MB 3.9 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.4.46-cp39-cp39-macosx_11_0_arm64.whl size=1561262 sha256=7fe1274153464ad1c1bc246afe79374c00af51b3338f82f2bcfb485f6c31446b
  Stored in directory: /Users/luchesia/Library/Caches/pip/wheels/2e/7a/c5/c4adc0fde658e83ef6ece76c8a7f115fc378c85774d9e5fd42
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.4.46

In [84]:
import pandas as pd
from sqlalchemy import create_engine

In [85]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/education")
# 아이디,비번,ip주소,포트,스키마
conn = engine.connect()

In [86]:
data = pd.read_sql_table('student',conn)
data

  scode    sname   sdept      sphone saddress
0  c001     JOJO    abcd  0111111111  kyunggi
1  c002  SONGYUN    defg     0222222  gwangju
2  c003     YUPO   hijkl     2222222   ganwon
3  S001      박소명  컴퓨터공학과    123-4567     None
4  S002      최민국  컴퓨터공학과    234-5678     None
5  S003      이승호    국문학과    345-6789     None
6  S004      정수봉    국문학과    456-7890     None
7  S005      김상진     사학과    567-8901     None
8  S006      황정숙     사학과    678-9012     None

---
### Dataframe 을 DB로 Insert

In [88]:
column = ['rank','title']
movies = pd.read_csv("../Data/DaumMoivesRankingList.csv")
movies.columns = column
movies.head()

   rank              title
0     1          아바타: 물의 길
1     2         더 퍼스트 슬램덩크
2     3                 영웅
3     4  장화신은 고양이: 끝내주는 모험
4     5                스위치

In [89]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/daum")
conn = engine.connect()

In [90]:
movies.to_sql(name="movie", con=engine, if_exists='append', index=False)
# if_exists = 'append' 로 걍 무조건 하셈 이걸로

15

In [96]:
data = pd.read_sql_table('movie',conn)
data.index
data

    seq  rank                     title
0     1     1                 아바타: 물의 길
1     2     2                더 퍼스트 슬램덩크
2     3     3                        영웅
3     4     4         장화신은 고양이: 끝내주는 모험
4     5     5                       스위치
5     6     6  오늘 밤, 세계에서 이 사랑이 사라진다 해도
6     7     7                       올빼미
7     8     8   신비아파트 극장판 차원도깨비와 7개의 세계
8     9     9                    프린스 챠밍
9    10    10                        유령
10   11    11                3000년의 기다림
11   12    12                        문맨
12   13    13                       젠틀맨
13   14    14                시간을 꿈꾸는 소녀
14   15    15                  웃는남자 감독판

---
### TinyDB
- NoSQL document DB
- MongoDB가 대표적이지만 MongoDB는 설치가 필요하고, TinyDB는 package만 install 하면 댐

In [97]:
#!pip install tinydb

Collecting tinydb
  Downloading tinydb-4.7.1-py3-none-any.whl (24 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.7.1

In [98]:
# TinyDB를 사용하기 위한 call library
from tinydb import TinyDB, Query, where

In [100]:
# Connect DB
filePath = "../Data/tinydb.json"
db = TinyDB(filePath)

In [101]:
# 기존 table이 있다면 delete
db.drop_table('fruits')

In [102]:
# Create Table
table = db.table('fruits')

In [104]:
# Insert data into Table
table.insert({'name':'Banana','price':'5000'})
table.insert({'name':'Ornage','price':'12000'})
table.insert({'name':'Mango','price':'10000'})

3

In [106]:
# print all data
print(table.all())

[{'name': 'Banana', 'price': '5000'}, {'name': 'Ornage', 'price': '12000'}, {'name': 'Mango', 'price': '10000'}]

In [113]:
# Search Orange
item = Query()
res = table.search(item.name == 'Ornage')
print(res)
print(res[0]['name'])

[{'name': 'Ornage', 'price': '12000'}]
Ornage

이거 아래꺼 못했음!!

In [134]:
# print over price 8000
item = Query()
# res = table.search(int(item.price) > 8000)
res = table.search(item.price)
print(res)

RuntimeError: Empty query was evaluated

In [136]:
# 수정하기
table.update({'price':10000}, item.name == "Mango")
res = table.search(item.name == 'Mango')
print(res)

[{'name': 'Mango', 'price': 10000}]

In [137]:
# 삭제하기
table.remove(item.name == "Mango")
print(table.all())

[{'name': 'Banana', 'price': '5000'}, {'name': 'Ornage', 'price': '12000'}]

In [138]:
# 삭제하기
table.remove(where('name') == "Ornage")
print(table.all())

[{'name': 'Banana', 'price': '5000'}]