# 거듭제곱

In [10]:
# 거듭제곱

var_01 = 3
print('거듭제곱  ** :', var_01**2)
print('거듭제곱 pow :', pow(var_01,3))
pow(var_01,3)

거듭제곱  ** : 9
거듭제곱 pow : 27

27

# Python 모듈을 이용한 수학계산

In [8]:
import math

In [9]:
# 거듭제곱 
math.pow(var_01,2) # = 9.0

9.0

In [11]:
# 제곱근 루트
math.sqrt(var_01)

1.7320508075688772

In [12]:
# sin 45
math.sin(45)

0.8509035245341184

In [25]:
# sin45의 제곱 더하기 cos45의 제곱 구하기 # = 1

math.pow(math.sin(45),2) + math.pow(math.cos(45),2) ## 공식 하나 외운거임 
pow(math.sin(45),2) + pow(math.cos(45),2)

pow((math.sin(45) + math.cos(45)),2)

1.893996663600558

---
## 난수 발생

In [26]:
import random

In [33]:
random.randint(1,100)

45

In [68]:
# 로또 번호 생성기
lotto_list = range(1,46)

random.sample(lotto_list, 6)

[17, 23, 2, 45, 31, 29]

In [51]:
a = range(1,11)
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [79]:
# 반올림

# round 는 홀수값만 .5가 반올림이 됨.

print(round(2.6))
print(round(0.5))
print(round(1.5))
print(round(2.5))
print(round(3.5))

3
0
2
2
4

In [83]:
print(round(123.45,1))
print(round(123.456,2))
print(round(2.5,0))

123.5
123.46
2.0

In [89]:
# math.ceil 무조건 올림

print(math.ceil(1.1))

# math.floor 무조건 내림
print(math.floor(1.9))

print(var_01)

2
1
3

In [90]:
dir

In [91]:
del var_01
var_01

NameError: name 'var_01' is not defined

---
### 관계 연산자

In [92]:
num1 = 100
num2 = 20

In [94]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

In [97]:
# 논리 연산자

print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [100]:
# version upgrade 되면서 ! 가 없어짐 
not(num1 >= 50)

# and or not 으로 기억하고 사용하면 댐

False

In [101]:
!ls

2339.29s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

01.Preview.ipynb             =
02.변수와 자료형.ipynb

---
### 문자열 자료형

In [102]:
var_01 = "Hello World!"
var_01

'Hello World!'

In [103]:
# 여러줄의 문자열 출력

var_01 = """
    안녕 월드!
    힘쎄고 강한 아침!
 """

var_01

'\n    안녕 월드!\n    힘쎄고 강한 아침!\n '

In [104]:
print(var_01)

    안녕 월드!
    힘쎄고 강한 아침!

In [105]:
# 쌍따옴표와 홑따옴표의 사용
var_01 = "My father's wife is my mother."
var_02 = 'He syas "I Love You."'
print(var_01)
print(var_02)

My father's wife is my mother.
He syas "I Love You."

In [107]:
# 문자열 연산(덧셈)
var_01 = "Python"
var_02 = "is fun."
print(var_01,var_02)
print(var_01 + var_02)

Python is fun.
Pythonis fun.

In [110]:
# 문자열 연산(곱셈)

print(var_01 * 2)
#print(var_01 ** 2) # < 임마는 안됨

PythonPython

In [112]:
var_01 = """
    =================
    Python
    =================
"""
print(var_01)

    =================
    Python
    =================

In [125]:
var_01 = "Python"

print(('=')*15 + '\n' , var_01, '\n'+('=')*15)

===============
 Python
===============

In [135]:
# 문자열 indexing 과 Slicing 
str = "abcdefghijklmnopqrstuvwxyz"
print(str[0])
print(str[5])
print(str[10])
print(str[13])
print(str[18])
print(str[21])

print(str[0:3]) # 0~2 까지 3개  = abcprint
print(str[-1]) # = z python은 거꾸로 셈 
print(str[5:]) # 5부터 끝까지 
print(str[:5]) # 처음부터 5까지 
print(str[5:-2]) # 5번째부터 끝에서 -2 번째 인 거 까지 
print(str)

a
f
k
n
s
v
abc
z
fghijklmnopqrstuvwxyz
abcde
fghijklmnopqrstuvwx
abcdefghijklmnopqrstuvwxyz

In [36]:
str = "20221229Snow"


for i in [1,4,8,12]:
    print(str[i-1:i*4])
    i = i*4

    
#math.range

2022
21229Snow
9Snow
w

TypeError: must be str or None, not int

In [196]:
str = "abbde"
# abcde로 출력하기 
# str[2].replace = ['c']
# str[2] = 'c'
# str[2].replace = 'c'
# print(str.replace(str[2], 'c',1,2)) #= accde

print(str.replace(str[2], 'c')) #= accde
print(str.replace(str[2], 'c',1)) #= acbde


# str[2]

#print(str)

accde
acbde

---
### 문자열 formatting

%s, %d, %f

In [180]:
# 정수형 Format

print("I have %d apples." %2)

I have 2 apples.

In [181]:
number = 2
print('i have %d apples.' %number)

i have 2 apples.

In [184]:
print("i have %s apples." %"two")

i have two apples.

In [185]:
number = 2
fruit = "apples"
print('I have %d %s.'%(number,fruit)) #< tuple

I have 2 apples.

In [187]:
# 문자열 정렬
print("I have 2 %10s." % "apples")
print("I have 2 %-10s." % "apples")

I have 2     apples.
I have 2 apples    .

In [190]:
print("%0.4f" %3.14159)
print("%10.4f" %3.14159)

3.1416
    3.1416

---
### 문자열 관련 함수

In [201]:
str = "I have a dream."
print(str.count('a')) # 갯수 
print(len(str)) # lenght

3
15

In [207]:
print(str.find('e'))
print(str.find('x')) # -1이 나오는데 index는 0 부터 시작인데 없으니까 쓸거없으니 -1 로 나옴

5
-1

In [208]:
str = ","
str.join('abcdef')

'a,b,c,d,e,f'

In [209]:
str = 'hi'
str.upper()

'HI'

In [210]:
str.lower()

'hi'

In [212]:
str = '            hi'
str.lstrip()

'hi'

In [214]:
str = '  * hi             '
str.rstrip()

'  * hi'

In [215]:
str = '      hi        '
str.strip()

'hi'

In [1]:
str = "Life is too short to be happy."
str.replace('happy','unhappy')

'Life is too short to be unhappy.'

In [2]:
list01 = str.split()
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [3]:
type(list01)

list

In [4]:
list01[0]

'Life'

In [18]:
str02 = "a:b:c:d"
list02 = str02.split(':')
print(list02)
print(type(list02))
print(list02[0])

['a', 'b', 'c', 'd']
<class 'list'>
a

### 고급 문자열 Formatting

In [19]:
"I have {0} aplles.".format(3)

'I have 3 aplles.'

In [20]:
"I have {0} apples.".format("three")#{}안의 숫자가 순서

'I have three apples.'

In [24]:
number = 3

"I have {0} apples.".format(number)

'I have 3 apples.'

In [25]:
number = 10
day = "three"
"i have {0} aplles, I will go aborad for {1} days".format(number,day)

'i have 10 aplles, I will go aborad for three days'

In [26]:
"{0:<10}".format('hi')

'hi        '

In [27]:
"{0:>10}".format('hi')

'        hi'

In [28]:
"{0:^10}".format('hi')

'    hi    '

In [29]:
"{0:=^10}".format('hi')

'====hi===='

In [30]:
"{0:!>10}".format('hi')

'!!!!!!!!hi'

In [33]:
y = 3.14159
print("{0:0.2f}".format(y))
print("{0:10.2f}".format(y))

3.14
      3.14

In [34]:
# f

name = "Hosik"
age = 33
f'my name is {name} and age is {age}'

'my name is Hosik and age is 33'

In [35]:
f'i will next year {age+1} '

'i will next year 34 '

---
### 날짜형 변환

In [37]:
# python은 기본 날짜형이 없어서 불러와야댐
from datetime import datetime, timedelta

In [47]:
time1 = datetime(2022,12,25,21,20,25,123456)
print(time1)

2022-12-25 21:20:25.123456

In [52]:
now = datetime.now()
print(now)

2023-01-16 13:58:55.956455

In [53]:
print(now-time1)

21 days, 16:38:30.832999

In [54]:
print(type(now))

<class 'datetime.datetime'>

In [56]:
print((now - time1).days,'days')

21 days

In [61]:
print(now + timedelta(days=5))
print(now + timedelta(days=-3))
print(now + timedelta(days=1, hours=-2))

2023-01-21 13:58:55.956455
2023-01-13 13:58:55.956455
2023-01-17 11:58:55.956455