### range 함수

In [2]:
var = range(1,11)
list(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 0 ~ 10까지의 짝수
list(range(0,10+1, 2))

[0, 2, 4, 6, 8, 10]

In [10]:
# 10 ~ 1 까지의 짝수
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [11]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
# 1 ~ 10 까지의 제곱근을 출력하기
import math
for i in range(1,11):
    print(f'{i:>2} : {"%0.8f"%(math.sqrt(i)) :>10} ')

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [45]:
def sqrtTest(getInt):
    for i in range(0, getInt+1):
        var = print(f'{i:>2} : {"%0.8f"%(math.sqrt(i)) :>10} ')
    return var
sqrtTest(10)

 0 : 0.00000000
 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [49]:
for i in range(1,11):
    print(f'{i:>2} : {"%0.8d"%(math.sqrt(i)) :>10} ')

 1 :   00000001
 2 :   00000001
 3 :   00000001
 4 :   00000002
 5 :   00000002
 6 :   00000002
 7 :   00000002
 8 :   00000002
 9 :   00000003
10 :   00000003

In [51]:
for i in range(1,11):
    print(f'{i:>2} : {"%0.8s"%(math.sqrt(i)) :>10} ')

 1 :        1.0
 2 :   1.414213
 3 :   1.732050
 4 :        2.0
 5 :   2.236067
 6 :   2.449489
 7 :   2.645751
 8 :   2.828427
 9 :        3.0
10 :   3.162277

In [58]:
for i in range(1,110):
    j = math.sqrt(i)
    print("%2.0f"%i,":","%0.8f"%j)

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766
11 : 3.31662479
12 : 3.46410162
13 : 3.60555128
14 : 3.74165739
15 : 3.87298335
16 : 4.00000000
17 : 4.12310563
18 : 4.24264069
19 : 4.35889894
20 : 4.47213595
21 : 4.58257569
22 : 4.69041576
23 : 4.79583152
24 : 4.89897949
25 : 5.00000000
26 : 5.09901951
27 : 5.19615242
28 : 5.29150262
29 : 5.38516481
30 : 5.47722558
31 : 5.56776436
32 : 5.65685425
33 : 5.74456265
34 : 5.83095189
35 : 5.91607978
36 : 6.00000000
37 : 6.08276253
38 : 6.16441400
39 : 6.24499800
40 : 6.32455532
41 : 6.40312424
42 : 6.48074070
43 : 6.55743852
44 : 6.63324958
45 : 6.70820393
46 : 6.78232998
47 : 6.85565460
48 : 6.92820323
49 : 7.00000000
50 : 7.07106781
51 : 7.14142843
52 : 7.21110255
53 : 7.28010989
54 : 7.34846923
55 : 7.41619849
56 : 7.48331477
57 : 7.54983444
58 : 7.61577311
59 : 7.68114575
60 : 7.74596669
61 : 7.81024968
62 : 7.87400787
63 : 7.93725393
64 : 8.00000000
65 : 8.06225775
66 : 8.12403840
67 : 8.18535277
68 : 8.24621125
69 : 8.30662386
70 : 8.36660027
71 : 8.42614977
72 : 8.48528137
73 : 8.54400375
74 : 8.60232527
75 : 8.66025404
76 : 8.71779789
77 : 8.77496439
78 : 8.83176087
79 : 8.88819442
80 : 8.94427191
81 : 9.00000000
82 : 9.05538514
83 : 9.11043358
84 : 9.16515139
85 : 9.21954446
86 : 9.27361850
87 : 9.32737905
88 : 9.38083152
89 : 9.43398113
90 : 9.48683298
91 : 9.53939201
92 : 9.59166305
93 : 9.64365076
94 : 9.69535971
95 : 9.74679434
96 : 9.79795897
97 : 9.84885780
98 : 9.89949494
99 : 9.94987437
100 : 10.00000000
101 : 10.04987562
102 : 10.09950494
103 : 10.14889157
104 : 10.19803903
105 : 10.24695077
106 : 10.29563014
107 : 10.34408043
108 : 10.39230485
109 : 10.44030651

In [54]:
sqrtTest(100)

 0 : 0.00000000
 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766
11 : 3.31662479
12 : 3.46410162
13 : 3.60555128
14 : 3.74165739
15 : 3.87298335
16 : 4.00000000
17 : 4.12310563
18 : 4.24264069
19 : 4.35889894
20 : 4.47213595
21 : 4.58257569
22 : 4.69041576
23 : 4.79583152
24 : 4.89897949
25 : 5.00000000
26 : 5.09901951
27 : 5.19615242
28 : 5.29150262
29 : 5.38516481
30 : 5.47722558
31 : 5.56776436
32 : 5.65685425
33 : 5.74456265
34 : 5.83095189
35 : 5.91607978
36 : 6.00000000
37 : 6.08276253
38 : 6.16441400
39 : 6.24499800
40 : 6.32455532
41 : 6.40312424
42 : 6.48074070
43 : 6.55743852
44 : 6.63324958
45 : 6.70820393
46 : 6.78232998
47 : 6.85565460
48 : 6.92820323
49 : 7.00000000
50 : 7.07106781
51 : 7.14142843
52 : 7.21110255
53 : 7.28010989
54 : 7.34846923
55 : 7.41619849
56 : 7.48331477
57 : 7.54983444
58 : 7.61577311
59 : 7.68114575
60 : 7.74596669
61 : 7.81024968
62 : 7.87400787
63 : 7.93725393
64 : 8.00000000
65 : 8.06225775
66 : 8.12403840
67 : 8.18535277
68 : 8.24621125
69 : 8.30662386
70 : 8.36660027
71 : 8.42614977
72 : 8.48528137
73 : 8.54400375
74 : 8.60232527
75 : 8.66025404
76 : 8.71779789
77 : 8.77496439
78 : 8.83176087
79 : 8.88819442
80 : 8.94427191
81 : 9.00000000
82 : 9.05538514
83 : 9.11043358
84 : 9.16515139
85 : 9.21954446
86 : 9.27361850
87 : 9.32737905
88 : 9.38083152
89 : 9.43398113
90 : 9.48683298
91 : 9.53939201
92 : 9.59166305
93 : 9.64365076
94 : 9.69535971
95 : 9.74679434
96 : 9.79795897
97 : 9.84885780
98 : 9.89949494
99 : 9.94987437
100 : 10.00000000

In [70]:
print("aaaa" , end= " : ")
print("bbbb")

aaaa : bbbb

In [74]:

for i in range(2,10):
    for j in range(1,10):
        print(f'{(i * j):>2}', end = " " ,)
    print("")

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [75]:
# for 문에 List 사용하기
lists = ['one','two','three']

for list in lists:
    print(list)

one
two
three

In [80]:
# use Tuple in for

vars = [(1,2),(3,4),(5,'육')]

for first, last in vars:
    print(first,":", last)

for var in vars:
    print(var)

1 : 2
3 : 4
5 : 육
(1, 2)
(3, 4)
(5, '육')

In [97]:
scores = [90, 25, 67, 45, 80]
student = 1

while scores:
    score = scores.pop(0)
    result = "합격" if score >= 60 else "불합격"
    print(f'{student}의 학생은 {result} 입니다')
    student += 1

1의 학생은 합격 입니다
2의 학생은 불합격 입니다
3의 학생은 합격 입니다
4의 학생은 불합격 입니다
5의 학생은 합격 입니다

In [107]:
scores = [90, 25, 67, 45, 80]
student = 1

for score in scores:
    print(f'{student}의 학생은 점수가 {score}{"이므로 합격" if score >= 60 else "이어서 불합격"} 입니다');student += 1

1의 학생은 점수가 90이므로 합격 입니다
2의 학생은 점수가 25이어서 불합격 입니다
3의 학생은 점수가 67이므로 합격 입니다
4의 학생은 점수가 45이어서 불합격 입니다
5의 학생은 점수가 80이므로 합격 입니다

In [114]:
import numpy as np

In [120]:
scores = [90, 25, 67, 45, 80]
student = 1

print(f'학급의 평균 점수는 {"%0.2f"%np.mean(scores)} 입니다')

for score in scores:
    print(f'{student}의 학생은 점수가 {score}{"이므로 합격" if score >= np.mean(scores) else "이어서 불합격"} 입니다');student += 1

학급의 평균 점수는 61.40 입니다
1의 학생은 점수가 90이므로 합격 입니다
2의 학생은 점수가 25이어서 불합격 입니다
3의 학생은 점수가 67이므로 합격 입니다
4의 학생은 점수가 45이어서 불합격 입니다
5의 학생은 점수가 80이므로 합격 입니다

In [121]:
# 리스트를 읽어서 리스트 값에 5를 곱한 새로운 리스트 만들기

var01 = [1,2,3,4]
var02 = []
for i in var01:
    var02.append(i*5)


print(var02)

[5, 10, 15, 20]

In [129]:
# 총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고 그렇지 않으면 불합격이다.
# 합격인 학생들의 번호만 새로운 list를 생성하여 출력하기
scores = [90, 25, 67, 45, 80]
student = 1
studentList = []

for score in scores:
    if score >= 60:studentList.append(student)
    student += 1
print(studentList)

[1, 3, 5]

---
### 문장과 단어 추출

In [140]:
string = """나는 이호식 입니다.
주소는 서울시 입니다.
나이는 33세 입니다."""

In [141]:
sents = [] # 문장들어갈
words = [] # 단어 들어갈

In [142]:
# 문단 -> 문장
for sen in string.split(sep="\n"):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)

print(sents)
print(words)

['나는 이호식 입니다.', '주소는 서울시 입니다.', '나이는 33세 입니다.']
['나는', '이호식', '입니다.', '주소는', '서울시', '입니다.', '나이는', '33세', '입니다.']

In [143]:
print('문장 :',sents)
print('문장 수 :', len(sents))

print('단어 : ', words)
print('단어 수 : ', len(words))

문장 : ['나는 이호식 입니다.', '주소는 서울시 입니다.', '나이는 33세 입니다.']
문장 수 : 3
단어 :  ['나는', '이호식', '입니다.', '주소는', '서울시', '입니다.', '나이는', '33세', '입니다.']
단어 수 :  9

---
### Python의 Listed For 문

In [144]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01]
print(var02)

[5, 10, 15, 20]

In [145]:
var02 = [i * 5 for i in var01 if i % 2 == 0]
print(var02)

[10, 20]

In [148]:
# 구구단 결과만 리스트로 만들기
var = [i * j for i in range(2,10) for j in range(1,10)]
print(var)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [151]:
import numpy as np

In [152]:
# 60점 이상의 학생 점수만 List로 만들어 평균 구하기
scores = [90, 25, 67, 45, 80]
var = [i for i in scores if i >= 60]

print(var)
print(np.mean(var))

[90, 67, 80]
79.0