In [2]:
# import from

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
import folium
import warnings
warnings.filterwarnings("ignore")

# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

In [3]:
train = pd.read_csv('../Data/train_20k.csv', header=None)
test = pd.read_csv('../Data/test_1k.csv', header=None)
train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# train 정답의 숫자 빈도 확인 (0번째 컬럼)
print(train[0].value_counts().sort_index(axis=0,ascending=False))
print(train[0].value_counts().sum())

9    2014
8    1922
7    2093
6    1971
5    1776
4    1945
3    2076
2    1929
1    2281
0    1994
Name: 0, dtype: int64
20001

In [5]:
train_label = train.loc[:,train.columns == 0]
train_data = train.loc[:, train.columns != 0]
test_label = test.loc[:,test.columns == 0]
test_data = test.loc[:, test.columns != 0]

In [6]:
# 학습하기
from sklearn import svm
clf = svm.SVC() # 지금은 분류하는거
clf.fit(train_data, train_label)
clf.score(test_data,test_label)

0.9630369630369631

In [7]:
# data의 표준화
train_data = pd.DataFrame(np.log1p(train_data))
test_data = pd.DataFrame(np.log1p(test_data))
train_data = train_data.loc[:, train_data.columns != 0]
test_data = test_data.loc[:, test_data.columns != 0]

In [8]:
# 학습하기
from sklearn import svm
clf = svm.SVC() # 지금은 분류하는거
clf.fit(train_data, train_label)
clf.score(test_data,test_label)

0.965034965034965